<%- include('include/_header') %>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 mb-3">
            <div class="box p-5">
                <div class="col-md-12 text-center">
                    <h3 class="mt-4">الوزارات</h3>
                    
                    <a href="/dashboard-ministries" class="btn mt-3">تحكم</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="box p-5">
                <div class="col-md-12 text-center">
                    <h3 class="mt-4">الكتاب</h3>
                    
                    <a href="/dashboard-writers" class="btn mt-3">تحكم</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="box p-5">
                <div class="col-md-12 text-center">
                    <h3 class="mt-4">المشرفين</h3>
                    
                    <a href="/dashboard-supervisors" class="btn mt-3">تحكم</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="box p-5">
                <div class="col-md-12 text-center">
                    <h3 class="mt-4">الأعضاء</h3>
                    
                    <a href="/dashboard-members" class="btn mt-3">تحكم</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="box p-5">
                <div class="col-md-12 text-center">
                    <h3 class="mt-4">المواطنين</h3>
                    
                    <a href="/dashboard-citizens" class="btn mt-3">تحكم</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('include/_footer') %>