<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>حزب مستقبل وطن</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header>
        <div class="row m-5 p-5">
            <div class="container">
                <div class="col-md-12 text-center">
                    <h2>لتحميل البرنامج الخاص باعضاء الحزب و تقديم الطلبات للحزب</h2>
                    <a href="https://drive.google.com/file/d/1m3tOglh1OTyJ6WIJLxYOWnC_xij7c61x/view?usp=sharing" class="btn mt-5">اضغط هنا</a>
                </div>
            </div>
        </div>

        <div class="row m-5 p-5">
            <div class="container">
                <div class="col-md-12 text-center">
                    <img src="/img/logo.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </header>

    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>
</html>