<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>حزب مستقبل وطن</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.css"/>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header style="background-image: url(/img/news2.jpg);">
        <div class="breadcrumb-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mt-3">
                    <a class="navbar-brand" href="/dashboard"><img src="/img/logo.jpg" alt=""></a>
                </div>
                <div class="col-md-12 text-center text-white mt-5">
                    <h1>لوحة التحكم</h1>
                </div>
            </div>
        </div>
    </header>